<h2>New Comment</h2>
<form>
    <div class="form-group">
        <label for="text">Aapke khyaalat</label>
        {{input id = "text" class = "form-control" value = text}}
    </div>
    <button class= "btn btn-primary" {{action 'save'}}>Save</button>
</form>
